/*/// UNIVERSAL STYLES ///*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*/// FONTS ///*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
/*--- HTML BASE ---*/
html {
    font-size: 62.5%;/* <-- Font Size = 10px = 1rem */
    font-family: "Lato", sans-serif;
}

/*///////////////////////////////////*/
/*///// CUSTOM STYLES (DESKTOP) /////*/
/*///////////////////////////////////*/
body {
    background-color: lightblue;
}
/* CONTAINER */
.container {
    width: 100%;
    max-width: 114rem;
    min-height: 50rem;
    background-color: lightgray;
    margin: 0 auto;
}
#mobile-nav-links {
    display: none;
}
/*////// TOP NAVIGATION //////*/
#top-nav {
    width: 100%;
    background-color: #fff;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top-identity {
    height: 100%;
    display: flex;
    align-items: center;
}
/* LOGO */
#logo {
    display: inline-block;
    height: 5rem;
}
#logo img {
    display: block;
    height: 100%;
    width: auto;
    margin-left: 2.4rem;
}
/* SITE TITLE */
#site-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}
#site-title span {
    color: #adadad; /* <-- USE THIS GREY */
    font-weight: 400;
}
/* DESKTOP NAVIGATION LINKS */
#destop-nav-links {
    height: 100%;
    display: flex;
    align-items: center;
}
#desktop-nav-links span {
    font-size: 1.6rem;
    margin-left: 1.6rem;
}
#desktop-nav-links span:last-child {
    margin-right: 2.4rem;
}

/*////// MAIN/HERO SECTION //////*/
#billboard-box {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3.2rem 2.4rem;
    background-color: #d4d4d4;
}
/* MAIN IMAGE */
#main-img {
    width: 60%;
    overflow: hidden;
    margin-right: 4rem;
    /*height: 50rem;*/
}
#main-img img {
    display: block;
    width: 100%;
    height: auto;
}
/* MAIN ARTICLE */
#main-article-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}
#main-article-box h1 {
    font-weight: 900;
    color: #464646;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
#main-article-box p {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 700;
    color: #464646;
    margin-bottom: 2rem;
}
/* START HERE BUTTON */
#start-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    padding: .8rem 0;
}
#start-btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

/*////// MIDDLE SECTION //////*/
#middle-section {
    width: 100%;
    background-color: #fff;
    display: flex;
}
/* LEFT SIDE */
#middle-left-box {
    width: 60%;
    margin: 3.2rem 2.4rem;
}
/* ARTICLE IMAGE */
#secondary-article-img {
    display: block;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
#secondary-article-img img {
    display: block;
    width: 100%;
}
/* TITLE */
#middle-left-box h2 {
    font-size: 3.2rem;
    font-weight: 900;
    margin: 2.4rem 0 2rem 0;
    letter-spacing: 1px;
    color: #464646;
}
#quote {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    padding-right: 2.4rem;
    color: #464646;
}
#quote-person {
    font-size: 1.3rem;
    font-weight: 700;
    color: #464646;
    margin: 2.4rem auto;
}
/* RIGHT SIDE */
#middle-right-box {
    border-left: 1px solid #c4c4c4;
    width: 42.3rem;
}
/* SUB-ARTICLE */
.sub-article {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.6rem;
    border-bottom: 1px solid #d4d4d4;
}
.sub-article:first-child {
    margin-top: 1.6rem;
}
.sub-article:last-child {
    background-color: #d4d4d4;
}
/* ASIDE IMAGES */
.aside-img {
    display: inline-block;
    width: 35%;
    overflow: hidden;
}
.aside-img img {
    display: block;
    width: 100%;
    height: auto;
}
/* TEXT */
.aside-text {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.aside-text h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .8rem;
    color: #464646;
}
.aside-text p {
    font-size: 1.4rem;
    margin-bottom: .8rem;
    line-height: 1.5;
    color: #464646;
}
.read-more-btn a {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
    color: #179ad0;
}




/*///////////////////////////////////*/
/*////////// TABLET STYLES //////////*/
/*///////////////////////////////////*/
@media only screen and (max-width: 768px) {
    body {
        background-color: lightcoral;
    }
}

/*///////////////////////////////////*/
/*////////// MOBILE STYLES //////////*/
/*///////////////////////////////////*/
@media only screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

/*////// CLEARFIX //////*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}