/*/// UNIVERSAL STYLES ///*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*/// FONTS ///*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
/*--- HTML BASE ---*/
html {
    font-size: 62.5%;/* <-- Font Size = 10px = 1rem */
    font-family: "Lato", sans-serif;
}

/*///////////////////////////////////*/
/*///// CUSTOM STYLES (DESKTOP) /////*/
/*///////////////////////////////////*/
body {
    /*background-color: lightblue;*/
}
/* CONTAINER */
.container {
    width: 100%;
    max-width: 114rem;
    min-height: 50rem;
    /*background-color: lightgray;*/
    margin: 0 auto;
}
#mobile-nav-links {
    display: none;
}
/*////// TOP NAVIGATION //////*/
#top-nav {
    width: 100%;
    background-color: #fff;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top-identity {
    height: 100%;
    display: flex;
    align-items: center;
}
/* LOGO */
#logo {
    display: inline-block;
    height: 5rem;
}
#logo img {
    display: block;
    height: 100%;
    width: auto;
    margin-left: 2.4rem;
}
/* SITE TITLE */
#site-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}
#site-title span {
    color: #9b9b9b; /* <-- USE THIS GREY */
    font-weight: 400;
}
/* DESKTOP NAVIGATION LINKS */
#destop-nav-links {
    height: 100%;
    display: flex;
    align-items: center;
}
#desktop-nav-links span {
    font-size: 1.6rem;
    margin-left: 1.6rem;
    color: #949494;
}
#desktop-nav-links span:last-child {
    margin-right: 2.4rem;
}

/*////// MAIN/HERO SECTION //////*/
#billboard-box {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
    overflow: hidden;
}
/* MAIN IMAGE */
#main-img {
    width: 60%;
    /*width: 67.4rem;*/
    overflow: hidden;
    margin: 3.2rem 4rem 3.2rem 2.4rem;
    height: 50rem;
}
#main-img img {
    display: block;
    height: 100%;
    width: auto;
}
/* MAIN ARTICLE */
#main-article-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}
#main-article-box h1 {
    font-weight: 900;
    color: #4a4a4a;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
#main-article-box p {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 2rem;
}
/* START HERE BUTTON */
#start-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a4a4a;
    padding: .8rem 0;
}
#start-btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

/*////// MIDDLE SECTION //////*/
#middle-section {
    width: 100%;
    background-color: #f3f5f5;
    display: flex;
}
/* LEFT SIDE */
#middle-left-box {
    width: 60%;
    margin: 3.2rem 2.4rem;
}
/* ARTICLE IMAGE */
#secondary-article-img {
    display: block;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
#secondary-article-img img {
    display: block;
    width: 100%;
    height: auto;
}
/* TITLE */
#middle-left-box h2 {
    font-size: 3.2rem;
    font-weight: 900;
    margin: 2.4rem 0 2rem 0;
    letter-spacing: 1px;
    color: #4a4a4a;
}
#quote {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    padding-right: 2.4rem;
    color: #4a4a4a;
}
#quote-person {
    font-size: 1.3rem;
    font-weight: 700;
    color: #4a4a4a;
    margin: 2.4rem auto;
}
/* RIGHT SIDE */
#middle-right-box {
    border-left: 1px solid #d8d8d8;
    width: 42.3rem;
}
/* SUB-ARTICLE */
.sub-article {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.6rem;
    border-bottom: 1px solid #d8d8d8;
}
.sub-article:first-child {
    margin-top: 1.6rem;
}
.sub-article:last-child {
    background-color: #d8d8d8;
}
/* ASIDE IMAGES */
.aside-img {
    display: inline-block;
    width: 35%;
    overflow: hidden;
}
.aside-img img {
    display: block;
    width: 100%;
    height: auto;
}
/* TEXT */
.aside-text {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.aside-text h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .8rem;
    color: #4a4a4a;
}
.aside-text p {
    font-size: 1.4rem;
    margin-bottom: .8rem;
    line-height: 1.5;
    color: #4a4a4a;
}
.read-more-btn a {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
    color: #4a90e2;
}

/*////// LEARNING SECTION //////*/
#learning-section {
    width: 100%;
    background-color: #eaebec;
    padding: .1rem 0;
}
#learning-section h2 {
    margin: 3.2rem auto;
    color: #4a4a4a;
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
}
/* GALLERY */
#gallery-box {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto 3.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item {
    display: inline-flex;
    margin: .8rem;
    width: 28rem;
    flex-direction: column;
}
/* IMAGE */
.gallery-img {
    width: 100%;
    height: 14rem;
    overflow: hidden;
}
.gallery-img img {
    display: block;
    width: 100%;
    height: auto;
}
/* TEXT */
.gallery-text {
    width: 100%;
    height: 13.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
}
.gallery-text h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4a4a4a;
    margin: 1.6rem 0 .8rem 0;
}
.courses-keyword {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #4a4a4a;
    margin-bottom: .8rem;
}
.course-description {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.5;
    color: #4a4a4a;
}

/*////// THESIS SECTION //////*/
#thesis-section {
    width: 100%;
    background-color: #f3f5f5;
    padding-top: .1rem;
    border-bottom: 1px solid #e0e2e2;
}
#thesis-content {
    width: 100%;
    display: flex;
}
/* TITLE */
#thesis-section h2 {
    font-size: 3.2rem;
    font-weight: 900;
    color: #4a4a4a;
    margin: 3.1rem auto 3.2rem auto;
    text-align: center;
}
/* THESIS LEFT SIDE */
#thesis-left {
    width: 60%;
    display: inline-block;
    overflow: hidden;
    margin-right: 1.6rem;
}
/* VIDEO */
#vid {
    width: 100%;
    margin-bottom: 2.4rem;
    margin-left: 2.4rem;
}
#vid video {
    display: block;
    width: 100%;
    height: auto;
}
/* TEXT */
#thesis-left-text {
    display: inline-flex;
    flex-direction: column;
    margin-left: 2.4rem;
}
#thesis-left-text h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 2rem;
}
#video-p-quote {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 3.2rem;
}
/* THESIS RIGHT SIDE */
#thesis-right {
    display: inline-block;
    width: 42.3rem;
}
/* SUB-ARTICLE */
.thesis-sub-article {
    width: 100%;
    height: 16.8rem;
    display: flex;
    align-items: center;
}
.thesis-sub-article:first-child {
    background-color: #d8d8d8;
}
/* SUB-IMAGE */
.thesis-sub-img {
    height: 13.6rem;
    width: 13.6rem;
    margin: 1.6rem;
}
.thesis-sub-img img {
    display: block;
    width: 100%;
    height: auto;
}
/* SUB TEXT */
.thesis-sub-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thesis-sub-text h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 1rem;
}
.thesis-sub-text p {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.4;
}

/*////// FOOTER //////*/
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 7rem;
    /*#d4d4d4*/
}
#footer-left {
    font-size: 1.2rem;
    color: #787878;
    margin: 1.6rem 0 0 2.4rem;
}
#footer-right {
    margin: 1.6rem 2.4rem 0 0;
}
#footer-right span a {
    font-size: 1.2rem;
    color: #787878;
    text-decoration: none;
}
#footer-right span:first-child {
    margin-right: 1.2rem;
}

/*///////////////////////////////////*/
/*////////// TABLET STYLES //////////*/
/*///////////////////////////////////*/
@media only screen and (max-width: 768px) {
    body {
        background-color: lightcoral;
    }
}

/*///////////////////////////////////*/
/*////////// MOBILE STYLES //////////*/
/*///////////////////////////////////*/
@media only screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

/*////// CLEARFIX //////*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}